<!DOCTYPE html>
<html>
  <head>
    <title>Credit Calculator</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     
    <div class="container-narrow">
      <div class="masthead">
        <%= render 'layouts/user_header' %>
        <h3 class="muted"><%= link_to "Credit Calculator", root_path %></h3>
        <h5 class="muted">Let's knock out that debt!</h5>
      </div>
      <hr />
      <%= yield %>
    </div>

  </body>
</html>
