<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Credit line:</strong>
  <%= @account.credit_line %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @account.interest_rate %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @account.fee %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
